Router selection preference is missing ICMPv6 Router Advertisement

Router selection preference according to [RFC4191](https://datatracker.ietf.org/doc/html/rfc4191) is missing from [RouterAdvert]( https://docs.rs/pnet/0.28.0/pnet/packet/icmpv6/ndp/struct.RouterAdvert.html).


In addition to router selection preference, more flags are in fact missing according to [RFC5175](https://datatracker.ietf.org/doc/html/rfc5175)

```
3.  Current Router Advertisement Flags

   Currently, the NDP Router Advertisement message contains the
   following one-bit flags defined in published RFCs:

    0 1 2 3 4 5 6 7
   +-+-+-+-+-+-+-+-+
   |M|O|H|Prf|P|R|R|
   +-+-+-+-+-+-+-+-+

                   Figure 1: Router Advertisement Flags

   o  M - Managed Address Configuration Flag [RFC4861]

   o  O - Other Configuration Flag [RFC4861]

   o  H - Mobile IPv6 Home Agent Flag [RFC3775]

   o  Prf - Router Selection Preferences [RFC4191]

   o  P - Neighbor Discovery Proxy Flag [RFC4389]

   o  R - Reserved
```

I just saw this, give me a bit to look into it and create a branch 